
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inconsolata&family=Nanum+Gothic&display=swap');


*{
    box-sizing: border-box;
} 

body{
    margin: 0;
    min-height: 100vh;
    overflow-y: hidden;
    font-family: 'Comfortaa', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF5733 ;
    width: 500px;
    margin: 70px auto;
    color: cornsilk;
    padding: 20px;
    border-radius: 5px;
}

button{
    margin: 10px;
}

select{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 300px;
    background-color: white;
    font-family:'Comfortaa', cursive ;
    margin-bottom: 20px;
}

select:focus{
    outline: none;
}

input[type = 'range']{
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: #C70039 ;
    cursor:move;
}

textarea{
    width: 300px;
    height:150px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    font-family:'Comfortaa', cursive ;
    margin-bottom: 10px;
}

.button-group{
    display: flex;
    flex-direction: row;
}

button{
    background-color:#FFC300  ;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family:'Comfortaa', cursive ;
    font-weight: bold;
    font-size: medium;
    width: 140px;
}



